<div class="container row-fluid">
    <ul class="thumbnails">	
	<div class="row">
	    {% for ad in ads %}
		{% if ad.bannerad %}
		    <li class="span4">
			<a target="_blank" href="{{ad.get_absolute_url}}" class="thumbnail">
			    <img src="{{ ad.bannerad.content.url }}" alt="{{ad.title}}">
			</a>
		    </li>
		    <!-- should be done better - this span thing sucks,just need stupid list -->
		    {% if forloop.counter0|add:"1"|divisibleby:3 %}</div><div class="row">{% endif %}
		{% endif %}
	    {% endfor %}
	</div>
    </ul>
</div>
